body{
	max-width: 90%;
	margin: auto;
	background: url("background_image.jpg") no-repeat, linear-gradient(90deg, rgb(17, 135, 241), rgb(196, 73, 34));
	background-position: bottom, right;
	background-size: cover;
}
blockquote{
	font-style:italic;
	width:50%;
	font-size:160%;
	background-color:#EFE7E6;
	border-left: 3px solid #C70039;
	padding-left:30px;
	margin:80px auto 80px auto;
}
p{
	font-size: 1em;
}
blockquote *{
	padding-left: 30px;
}
* q{
	padding-top:80px;
	padding-bottom:80px;
}
.bien, .mal{
	font-style:italic;
	text-transform:uppercase;
}
p .fermier{
	border-left:dotted 2px green;
}
p .villageois{
	border-left:solid 2px red;
}
header h1{
	background-color: yellow;
}
.rouge{
	color: red;
}
.blue{
	color: blue;
}
