body{
	max-width: 90%;
	margin: auto;
}
blockquote{
	/*max-width: 50%;
	margin: auto;
	font-size: 1.6em;
	background-color: rgba(30, 30, 30, 1);
	border-left: 400px solid #C70039;*/
	font-style:italic;
	width:50%;
	font-size:160%;
	background-color:#EFE7E6;
	border-left: 3px solid #C70039;
	padding-left:30px;
	margin:80px auto 80px auto;
}
p{
	font-size: 1000em;
}